.about-me {
  width: 100%;
  height: auto;
  margin: 50px 0;

  .abt-me-card {
    width: auto;
    height: auto;
    margin: 20px auto;

    .card {
      width: 75%;
      height: auto;
      padding: 20px;
      margin: 10px;
      border-radius: 15px 50px;

      .info {
        display: flex;
        flex-wrap: wrap;

        h1,
        p {
          text-align: center;
          padding: 10px;
          margin: 0 auto;
          width: 90%;
        }

        .title {
          font-size: 22px;
          font-weight: bolder;
        }
      }
    }
    .one {
      color: rgb(247, 247, 247);
      background-color: rgba(236, 164, 186, 0.5);
      margin: 20px auto;
    }
  }
}

//MEDIA//
@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 780px) {
  .about-me {
    margin: 20px 0;

    .abt-me-card {
      .card {
        width: 80%;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 420px) {
}
