.about {
  padding: 40px 5%;
  padding-top: 80px;
  flex-wrap: wrap;

  .intro {
    width: 50%;
  }
}

//MEDIA//
@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 420px) {
}
