.main {
  width: 100%;
  padding: 30px;
  height: auto;
  background-color: rgba(250, 235, 215, 0.281);

  .banner {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;

    .background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      flex-wrap: wrap;
      background-image: url(../img/banner-img.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 0 auto;

      .box {
        font-size: 50px;
        color: black;
        height: auto;
        margin: 0 auto;
        text-align: center;
        width: 100%;

        p {
          width: 100%;
          margin: 0 auto;
          display: none;
        }

        .hello,
        .there {
          opacity: 0%;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          animation: opacity 3s;
          animation-fill-mode: forwards;
        }

        .hello {
          animation-duration: 2s;
        }
        .there {
          animation-delay: 0.5s;
        }

        @keyframes type {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }

        @keyframes opacity {
          from {
            opacity: 0%;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
}

//MEDIA//
@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 420px) {
  .main {
    padding: 10px;
  }
}
