main {
  width: 100%;
  min-height: 85vh;
  color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;

  .links {
    width: 10%;

    div {
      width: auto;
      height: auto;
      transform: rotate(-90deg);
      display: flex;

      ul {
        display: flex;
        li {
          margin: 0 10px;

          a:hover {
            border-bottom: 1px solid rgb(25, 187, 187);
          }
        }
      }
    }
  }

  .intro {
    color: rgb(247, 247, 247);
    height: auto;
    width: 35%;

    .btn-container {
      margin-top: 20px;
      padding: 5px 0;
      height: auto;

      .link {
        padding: 5px 20px;
        border: 1px solid rgb(247, 247, 247);
        color: rgb(247, 247, 247);

        &:hover {
          background-color: rgba(25, 187, 187, 0.8);
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }

  .img-container {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      object-fit: contain;
      overflow: hidden;
    }
  }
}

//MEDIA//

@media only screen and (max-width: 780px) {
  main {
    flex-wrap: wrap;

    .intro {
      padding: 60px 30px 10px 30px;
      width: 80%;
      // padding-top: 60px;
    }

    .img-container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 420px) {
}
