.portfolio {
  margin: 20px 0px;

  .background-img {
    background-image: url(../img/pink-splatter-transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin: 0 auto -80px auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;

    .title {
      padding: 60px 0;
      font-size: 26px;
    }
  }
  .port-cards {
    width: 100%;
    flex-wrap: wrap;
    .port-card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;

      .info {
        background-color: rgba(250, 235, 215, 0.281);
        padding: 20px;
        margin: 10px;
        width: 40%;
        border-radius: 50px 15px;
        text-align: center;

        .subtitle {
          font-size: 20px;
          font-weight: bold;
        }

        .para {
          padding: 5px 0;

          // p {
          //   // padding-bottom: 10px;
          // }

          .badges {
            padding: 5px;
            margin-top: 10px;
            font-size: 14px;

            ul {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              li {
                min-width: 60px;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 15px;
                background-color: rgba(236, 164, 186, 0.295);
                color: rgb(151, 151, 151);
                border-color: rgba(236, 164, 186, 0.295);
              }
            }
          }

          .button {
            margin: 5px 0;
            padding: 5px 0;
            // background-color: springgreen;
            height: auto;

            .see-me {
              padding: 5px 20px;
              border-radius: 50px 15px;
              background-color: rgba(236, 164, 186, 0.6);
              color: rgb(75, 73, 73);
              border-color: rgba(236, 164, 186, 0.295);
            }
          }
        }
      }

      .design {
        max-width: 60%;
        margin: 10px;

        .web-bg {
          background-color: rgb(113, 114, 114);
          padding: 10px;
          border-radius: 20px;

          .webview {
            width: 100%;
            max-height: 400px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

//MEDIA//
@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 780px) {
  .portfolio {
    .port-cards {
      margin-top: 20px;
      .port-card {
        flex-wrap: wrap;
        margin-bottom: 30px;

        .info {
          width: 70%;
        }

        .design {
          max-width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .portfolio {
    .port-cards {
      .port-card {
        .info {
          width: 80%;
        }

        .design {
          max-width: 90%;
          margin: 10px;

          .web-bg {
            .webview {
              max-height: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .portfolio {
    .port-cards {
      .port-card {
        .info {
          width: 90%;
        }

        .design {
          max-width: 95%;

          .web-bg {
            .webview {
              max-height: 250px;
            }
          }
        }
      }
    }
  }
}
