//Header
@import "header";

//Banner
@import "index";

//About Me
@import "about";

//Footer
@import "contact";

//Portfolio
@import "portfolio";

//Skills
@import "skills";

* {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-width: 300px;
  font-weight: 500;
  background-color: #000;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb(247, 247, 247);
}

main,
.main {
  width: 100%;
  min-height: 85vh;
  color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.title {
  font-size: 52px;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 20px;
}

.para {
  line-height: 1.5;
  padding: 5px 0;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
  color: rgb(25, 187, 187);
}

h1 {
  width: 100%;
}

.blue {
  color: rgb(25, 187, 187);
}
