//Header
@import "header";

//Banner
@import "index";

//About Me
@import "aboutme";

//Footer
@import "footer";

//Portfolio
@import "portfolio";

//Skills
@import "skills";

* {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-width: 300px;
  font-weight: 500;
  background-color: #000;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb(247, 247, 247);
}

.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.blue {
  color: rgb(25, 187, 187);
}

.title {
  font-size: 52px;
  font-weight: bolder;
  line-height: 1.2;
}

.para {
  line-height: 1.5;
}
